.form{
  text-align: center;
  background: #e8f8f8;
  border-radius: 10px;
  color: rgb(17, 17, 17);
  width: 33%;
  margin: 30px 450px 50px;
  font-size: 20px;
  padding: 20px;
  }
  

.header-app{
  text-align: center;
  background: #e8f8f8;
  border-radius: 10px;
  color: rgb(92, 92, 92);
  width: 33%;
  margin: 30px 450px 50px;
  font-size: 20px;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@media screen and (min-width: 360px) and (max-width: 1200px){
    .header-app {
      display: flex;
      float: inline-end;
      margin: 10px 20px;
      width: 40%;
    }
    .form{
      display: flex;
      float: inline-end;
      margin: 10px 20px;
      width: 40%;
    }
    .app{
      display: flex;
      float: inline-end;
      margin: 10px 20px;
      width: 40%;
    }

}